
@{
    ViewBag.Title = "Cadastrar Cliente";
}
@section scripts{
    <script>
        var urlPost = '@Url.Action("Incluir", "Cliente", new { area = "" })';
        var urlPostBenef = '@Url.Action("IncluirBeneficiario", "Cliente", new { area = "" })';
        var urlPostRemoveBenefs = '@Url.Action("RemoverBeneficiarios", "Cliente", new { area = "" })';
        var urlRetorno = '@Url.Action("Index", "Cliente", new { area = "" })';
    </script>
    @Scripts.Render("~/bundles/jquerymask")
    @Scripts.Render("~/bundles/validaCPF")
    @Scripts.Render("~/bundles/clientes")
}
<h2>@Html.Raw(ViewBag.Title)</h2>
@Html.Partial("Forms")